In [1]:
import pandas

pandas.__version__

'1.5.3'

To Display Pandas's built in documentaion

In [2]:
import numpy as np
import pandas as pd
pd?

Type:        module
String form: <module 'pandas' from 'c:\\Users\\harsh\\AppData\\Local\\Programs\\Python\\Python310\\lib\\site-packages\\pandas\\__init__.py'>
File:        c:\users\harsh\appdata\local\programs\python\python310\lib\site-packages\pandas\__init__.py
Docstring:
pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

# **Creating Series from List**

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values
data.index

RangeIndex(start=0, stop=4, step=1)

# Accessing element using array index

In [5]:
print(data[1])

data[1:3]

0.5

1    0.50
2    0.75
dtype: float64

# Explict Indexing

In [6]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=["a", "b", "c", "d"])
print(data)

data["b"]

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

0.5

## Series as specialized dictionary

In [7]:
population_dict = {
    "California": 38332521,
    "Texas": 26448193,
    "New York": 19651127,
    "Florida": 19552860,
    "Illinois": 12882135,
}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

# Constructing Data Frame

In [8]:
area_dict = {
    "California": 423967,
    "Texas": 695662,
    "New York": 141297,
    "Florida": 170312,
    "Illinois": 149995,
    "Colorado": 999999,
}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Colorado      999999
dtype: int64

In [9]:
states = pd.DataFrame({"population": population, "area": area})
states

            population    area
California  38332521.0  423967
Colorado           NaN  999999
Florida     19552860.0  170312
Illinois    12882135.0  149995
New York    19651127.0  141297
Texas       26448193.0  695662

In [10]:
print(states.index)
print(states.columns)
print(states.shape)

Index(['California', 'Colorado', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')
Index(['population', 'area'], dtype='object')
(6, 2)

## **Data Frame can be created from**
* single series object
* list of dicts
* dictionary of series objects
* two-dimensional NumPy array
* Simple List

## Creating Dataframe from Single series object

In [11]:
pd.DataFrame(population, columns=["population"])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [12]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

## Creating Dataframe From a list of dicts

In [13]:
data = [{"a": i, "b": 2 * i} for i in range(3)]

print(data)
pd.DataFrame(data)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

   a  b
0  0  0
1  1  2
2  2  4

## From a dictionary of Series objects

In [14]:
pd.DataFrame({"population": population, "area": area})

            population    area
California  38332521.0  423967
Colorado           NaN  999999
Florida     19552860.0  170312
Illinois    12882135.0  149995
New York    19651127.0  141297
Texas       26448193.0  695662

## From a two-dimensional NumPy array

In [15]:
pd.DataFrame(np.random.rand(3, 2), columns=["col1", "col2"], index=["a", "b", "c"])

       col1      col2
a  0.042136  0.771052
b  0.228493  0.823764
c  0.166278  0.022404

## Creating DataFrame from simple List

In [16]:
pd.DataFrame([1, 2, 3, 4, 5])

   0
0  1
1  2
2  3
3  4
4  5

In [17]:
a = [1, 2, 3, 4]
print(type(a))
print(type(states))

<class 'list'>
<class 'pandas.core.frame.DataFrame'>

#Index Object

In [18]:
ind = pd.Index([2, 3, 5, 7, 11])
print(ind)
print(type(ind))
print(ind.shape)

Int64Index([2, 3, 5, 7, 11], dtype='int64')
<class 'pandas.core.indexes.numeric.Int64Index'>
(5,)

In [19]:
print(ind[1])
print(ind[::2])
print(ind.size, ind.shape, ind.ndim, ind.dtype)

3
Int64Index([2, 5, 11], dtype='int64')
5 (5,) 1 int64

**Index are immutable**

In [20]:
ind[1] = 0

TypeError: Index does not support mutable operations

**Index as ordered set**

In [21]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

inter = indA & indB  # intersection
print(inter)
un = indA | indB  # union
print(un)
dif = indA ^ indB  # symmetric difference
print(dif)

Int64Index([3, 5, 7], dtype='int64')
Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')
Int64Index([1, 2, 9, 11], dtype='int64')

C:\Users\harsh\AppData\Local\Temp\ipykernel_10892\1706996236.py:4: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead.
  inter = indA & indB  # intersection
C:\Users\harsh\AppData\Local\Temp\ipykernel_10892\1706996236.py:6: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  un = indA | indB  # union
C:\Users\harsh\AppData\Local\Temp\ipykernel_10892\1706996236.py:8: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead.
  dif = indA ^ indB  # symmetric difference