# Importing the libraries

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\harsh\College\Python-Assignments\Dataset\adult Data Set.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  Salary_range    32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary_range
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# Shape of dataset

In [7]:
df["sex"].dtype

dtype('O')

In [8]:
for i in list(df.columns):
    if df[i].dtype == "O":
        df[i] = df[i].str.strip()

In [9]:
df["sex"].unique()

array(['Male', 'Female'], dtype=object)

In [10]:
df.shape

(32561, 15)

# Print column names

In [11]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'Salary_range'],
      dtype='object')

# How many men and women (sexÂ feature) are represented in this dataset?

In [12]:
countgender = df[["sex", "education"]].groupby("sex").count()

In [13]:
countgender

        education
sex
Female      10771
Male        21790

In [14]:
countgender.reset_index(inplace=True)

In [15]:
countgender.columns = ["gender", "count"]

### Answer

In [16]:
countgender

   gender  count
0  Female  10771
1    Male  21790

# What is the average age (ageÂ feature) of women?

In [17]:
df[df.sex == "Female"]["age"].mean()

36.85823043357163

# What is the percentage of German citizens (native-countryÂ feature)?

In [18]:
df[df["native-country"] == "Germany"].count()

age               137
workclass         137
fnlwgt            137
education         137
education-num     137
marital-status    137
occupation        137
relationship      137
race              137
sex               137
capital-gain      137
capital-loss      137
hours-per-week    137
native-country    137
Salary_range      137
dtype: int64

In [19]:
df["native-country"].value_counts() / 325.61

United-States                 89.585701
Mexico                         1.974755
?                              1.790486
Philippines                    0.608089
Germany                        0.420749
Canada                         0.371610
Puerto-Rico                    0.350112
El-Salvador                    0.325543
India                          0.307116
Cuba                           0.291760
England                        0.276404
Jamaica                        0.248764
South                          0.245693
China                          0.230337
Italy                          0.224195
Dominican-Republic             0.214981
Vietnam                        0.205768
Guatemala                      0.196554
Japan                          0.190412
Poland                         0.184270
Columbia                       0.181198
Taiwan                         0.156629
Haiti                          0.135131
Iran                           0.132060
Portugal                       0.113633
Nicaragua                      0.104419
Peru                           0.095206
France                         0.089064
Greece                         0.089064
Ecuador                        0.085992
Ireland                        0.073708
Hong                           0.061423
Cambodia                       0.058352
Trinadad&Tobago                0.058352
Laos                           0.055281
Thailand                       0.055281
Yugoslavia                     0.049139
Outlying-US(Guam-USVI-etc)     0.042996
Honduras                       0.039925
Hungary                        0.039925
Scotland                       0.036854
Holand-Netherlands             0.003071
Name: native-country, dtype: float64

## What are the mean and standard deviation of age for those who earn more than 50K per year (salaryÂ feature) and those who earn less than 50K per year?

In [20]:
df["Salary_range"].unique()

array(['<=50K', '>50K'], dtype=object)

In [21]:
df50kless = df[df["Salary_range"] == "<=50K"]

In [22]:
df50kup = df[df["Salary_range"] == ">50K"]

In [23]:
print(
    "Mean of df50kup is",
    df50kup.age.mean(),
    "and standard deviation is",
    df50kup.age.std(),
)

Mean of df50kup is 44.24984058155847 and standard deviation is 10.519027719851826

In [24]:
print(
    "Mean of df50kless is",
    df50kless.age.mean(),
    "and standard deviation is",
    df50kless.age.std(),
)

Mean of df50kless is 36.78373786407767 and standard deviation is 14.02008849082488

# Is it true that people who earn more than 50K have at least high school education? (education â Bachelors, Prof-school, Assoc-acdm, Assoc-voc, MastersÂ orÂ DoctorateÂ feature)

In [25]:
df50kup.education.unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

### No, the people having income higher than 50k don not have education level lower than high school level.

In [26]:
df.race.unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

# Display age statistics for each race (raceÂ feature) and each gender (sexÂ feature). UseÂ groupby()Â andÂ describe(). Find the maximum age of men ofÂ Amer-Indian-EskimoÂ race

In [27]:
df[["race", "sex", "age"]].groupby(["race", "sex"]).max()

                           age
race               sex
Amer-Indian-Eskimo Female   80
                   Male     82
Asian-Pac-Islander Female   75
                   Male     90
Black              Female   90
                   Male     90
Other              Female   74
                   Male     77
White              Female   90
                   Male     90

In [28]:
df[["race", "sex", "age"]].groupby(["race", "sex"]).max().loc["Amer-Indian-Eskimo"].loc[
    "Male"
]

age    82
Name: Male, dtype: int64

In [29]:
df[["race", "sex", "age"]].groupby(["race", "sex"]).describe()

                               age                                          \
                             count       mean        std   min   25%   50%
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0


                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [30]:
df50kup["marital-status"].unique()

array(['Married-civ-spouse', 'Never-married', 'Divorced', 'Separated',
       'Widowed', 'Married-spouse-absent', 'Married-AF-spouse'],
      dtype=object)

### Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-statusÂ feature)? Consider as married those who have aÂ marital-statusÂ starting withÂ  MarriedÂ (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelor.

In [31]:
married_count1 = (
    df50kup["marital-status"]
    .map(
        lambda x: x
        in ["Married-civ-spouse", "Married-spouse-absent", "Married-AF-spouse"]
    )
    .value_counts()[True]
)
married_count2 = (
    df50kup["marital-status"]
    .map(
        lambda x: x
        in ["Married-civ-spouse", "Married-spouse-absent", "Married-AF-spouse"]
    )
    .value_counts()[False]
)

print(married_count1)
print(married_count2)

6736
1105

In [32]:
print(
    "Proportion of married men who earn more than 50k is ",
    (married_count1 / (married_count1 + married_count2)) * 100,
    "percent",
)

Proportion of married men who earn more than 50k is  85.9074097691621 percent

In [33]:
print(
    "Proportion of single men who earn more than 50k is ",
    (married_count2 / (married_count1 + married_count2)) * 100,
    "percent",
)

Proportion of single men who earn more than 50k is  14.092590230837903 percent

### What is the maximum number of hours a person works per week (hours-per-weekÂ feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [34]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary_range
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [35]:
maxnoofhour = df["hours-per-week"].max()
maxnoofhour

99

In [36]:
df50kup[df50kup["hours-per-week"] == 99]["hours-per-week"].count()

25

### Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

### Min hours per week of each native country

In [37]:
df[["native-country", "hours-per-week"]].groupby("native-country").min()

                            hours-per-week
native-country
?                                        1
Cambodia                                40
Canada                                   8
China                                    1
Columbia                                 5
Cuba                                     5
Dominican-Republic                      22
Ecuador                                 22
El-Salvador                              3
England                                  7
France                                  15
Germany                                  6
Greece                                   4
Guatemala                               18
Haiti                                   10
Holand-Netherlands                      40
Honduras                                17
Hong                                    30
Hungary                                  3
India                                    8
Iran                                     6
Ireland                                 25
Italy                                    6
Jamaica                                 10
Japan                                   10
Laos                                    31
Mexico                                   4
Nicaragua                               11
Outlying-US(Guam-USVI-etc)              24
Peru                                     4
Philippines                              8
Poland                                   3
Portugal                                30
Puerto-Rico                              6
Scotland                                20
South                                    4
Taiwan                                   2
Thailand                                10
Trinadad&Tobago                         14
United-States                            1
Vietnam                                  1
Yugoslavia                              20

### Maximum hour per week for each country.

In [38]:
df[["native-country", "hours-per-week"]].groupby("native-country").max()

                            hours-per-week
native-country
?                                       99
Cambodia                                50
Canada                                  72
China                                   60
Columbia                                60
Cuba                                    70
Dominican-Republic                      98
Ecuador                                 66
El-Salvador                             60
England                                 99
France                                  99
Germany                                 70
Greece                                  75
Guatemala                               60
Haiti                                   75
Holand-Netherlands                      40
Honduras                                60
Hong                                    65
Hungary                                 60
India                                   84
Iran                                    70
Ireland                                 60
Italy                                   80
Jamaica                                 70
Japan                                   99
Laos                                    50
Mexico                                  99
Nicaragua                               60
Outlying-US(Guam-USVI-etc)              60
Peru                                    60
Philippines                             99
Poland                                  65
Portugal                                84
Puerto-Rico                             80
Scotland                                60
South                                   99
Taiwan                                  84
Thailand                                80
Trinadad&Tobago                         60
United-States                           99
Vietnam                                 77
Yugoslavia                              66

### Minimum hour per week for Japan is

In [39]:
df[["native-country", "hours-per-week"]
   ].groupby("native-country").min().loc["Japan", :]

hours-per-week    10
Name: Japan, dtype: int64

### Maximum hours per week for Japan is

In [40]:
df[["native-country", "hours-per-week"]
   ].groupby("native-country").max().loc["Japan", :]

hours-per-week    99
Name: Japan, dtype: int64

Minimun for japan is 10 hours per week and maximum for Japan is 99 hours per week.