# Importing Libraries

In [2]:
import pandas as pd
import numpy as np

# Importing Dataset from the links

In [3]:
df = pd.read_csv(
    r"https://gist.githubusercontent.com/justmarkham/19241df07db2b93283fbb0cfe9c572f9/raw/f70931bd9f25c560b330f017f6933073c442c7ed/stocks.csv"
)

## set index on ‘Symbol‘ and 'Date‘, allow inplace changes

In [4]:
df.set_index(["Symbol", "Date"], inplace=True)

## sort indexes

In [5]:
df.sort_index(inplace=True)
df

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
       2016-10-04  113.00  29736800
       2016-10-05  113.05  21453100
CSCO   2016-10-03   31.50  14070500
       2016-10-04   31.35  18460400
       2016-10-05   31.59  11808600
MSFT   2016-10-03   57.42  19189500
       2016-10-04   57.24  20085900
       2016-10-05   57.64  16726400

## Select data for “AAPL”

In [6]:
df.loc["AAPL"]

             Close    Volume
Date
2016-10-03  112.52  21701800
2016-10-04  113.00  29736800
2016-10-05  113.05  21453100

## Select “Close” value for “AAPL” on “2016-10-03”

In [7]:
df.loc["AAPL"].loc["2016-10-03", "Close"]

112.52

## Select data for Apple and Microsoft

In [8]:
df.loc[["AAPL", "MSFT"]]

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
       2016-10-04  113.00  29736800
       2016-10-05  113.05  21453100
MSFT   2016-10-03   57.42  19189500
       2016-10-04   57.24  20085900
       2016-10-05   57.64  16726400

## Select data for Apple and Microsoft for a particular Date

In [8]:
df.loc[(["AAPL", "MSFT"], "2016-10-03"), :]

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
MSFT   2016-10-03   57.42  19189500

## Select data for apple on multiple dates

In [9]:
df.loc["AAPL"].loc[["2016-10-03", "2016-10-04"]]

             Close    Volume
Date
2016-10-03  112.52  21701800
2016-10-04  113.00  29736800

## Fetch all those rows where Volume>18000000

In [11]:
df[df["Volume"] > 18000000]

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
       2016-10-04  113.00  29736800
       2016-10-05  113.05  21453100
CSCO   2016-10-04   31.35  18460400
MSFT   2016-10-03   57.42  19189500
       2016-10-04   57.24  20085900

# Second Dataset

## Load data and group by Region

In [13]:
df1 = pd.read_csv(
    r"https://raw.githubusercontent.com/datagy/data/main/sales.csv")

In [14]:
dfbyregion = df1.groupby("region")

## counting number of groups

In [15]:
print("Number of groups:", len(dfbyregion))

Number of groups: 3

## Accessing the Groups in a GroupBy object

In [16]:
for group_name, group_data in dfbyregion:
    print("\nGroup Name:", group_name)
    print(group_data.head())

Group Name: North-East
          date  gender      region  sales
1     3/5/2022    Male  North-East  14495
2     2/9/2022    Male  North-East  13510
3    6/22/2022    Male  North-East  15983
12  11/25/2022  Female  North-East  18262
13   8/14/2022  Female  North-East  13733

Group Name: North-West
         date  gender      region  sales
0   8/22/2022    Male  North-West  20381
4   8/10/2022  Female  North-West  15007
7    7/8/2022    Male  North-West  13650
11  4/30/2022  Female  North-West  19631
16  4/18/2022    Male  North-West  17397

Group Name: South
          date  gender region  sales
5     9/6/2022    Male  South  21792
6    8/21/2022    Male  South  20113
8   11/22/2022    Male  South  14594
9    1/16/2022  Female  South  24114
10  12/21/2022    Male  South  35154

## Selecting a Group of south region

In [17]:
south_region_data = dfbyregion.get_group("South")
print("\nSouth Region Data:")
print(south_region_data.head())

South Region Data:
          date  gender region  sales
5     9/6/2022    Male  South  21792
6    8/21/2022    Male  South  20113
8   11/22/2022    Male  South  14594
9    1/16/2022  Female  South  24114
10  12/21/2022    Male  South  35154

## Findout average Sales per region

In [18]:
average_sales_by_region = dfbyregion["sales"].mean()
print("\nAverage Sales per Region:")
print(average_sales_by_region)

Average Sales per Region:
region
North-East    17386.072046
North-West    15257.732919
South         24466.864048
Name: sales, dtype: float64

## Applying Multiple Aggregations Using Pandas GroupBy - Find out Mean, median and variance of sales per region

In [19]:
sales_stats_by_region = dfbyregion["sales"].agg(["mean", "median", "var"])
print("\nSales Stats per Region:")
print(sales_stats_by_region)

Sales Stats per Region:
                    mean   median           var
region
North-East  17386.072046  17414.0  4.131225e+06
North-West  15257.732919  15337.5  1.311495e+07
South       24466.864048  24492.0  2.760139e+07

## Calculate percentage of region's sales per row with respect to total sale of the region

In [20]:
region_total_sales = dfbyregion["sales"].transform("sum")
df1["Percentage of Total Sales"] = df1["sales"] / region_total_sales * 100
print("\nSales Data with Percentage of Total Sales per Region:")
print(df1.head())

Sales Data with Percentage of Total Sales per Region:
        date  gender      region  sales  Percentage of Total Sales
0  8/22/2022    Male  North-West  20381                   0.414839
1   3/5/2022    Male  North-East  14495                   0.240263
2   2/9/2022    Male  North-East  13510                   0.223936
3  6/22/2022    Male  North-East  15983                   0.264928
4  8/10/2022  Female  North-West  15007                   0.305456

## Filtering Rows Where the Group's Average Sale Price is Less Than 20,000

In [21]:
# Filtering Rows Where the Group's Average Sale Price is Less Than 20,000
filtered_data = dfbyregion.filter(lambda x: x["sales"].mean() < 20000)
print("\nFiltered Data:")
print(filtered_data.head())

Filtered Data:
        date  gender      region  sales  Percentage of Total Sales
0  8/22/2022    Male  North-West  20381                   0.414839
1   3/5/2022    Male  North-East  14495                   0.240263
2   2/9/2022    Male  North-East  13510                   0.223936
3  6/22/2022    Male  North-East  15983                   0.264928
4  8/10/2022  Female  North-West  15007                   0.305456

## calculate the sum of all sales broken out by 'region' and by 'gender'

In [22]:
# calculate the sum of all sales broken out by 'region' and by 'gender'
sales_sum_by_region_gender = df1.groupby(["region", "gender"])["sales"].sum()
print("\nSales Sum by Region and Gender:")
print(sales_sum_by_region_gender)

Sales Sum by Region and Gender:
region      gender
North-East  Female    3051132
            Male      2981835
North-West  Female    2455899
            Male      2457091
South       Female    4135688
            Male      3962844
Name: sales, dtype: int64

## Ranking Sales by Region and by Gender

In [23]:
# Ranking Sales by Region and by Gender
df1["Rank"] = df1.groupby(["region", "gender"])["sales"].rank(ascending=False)
print("\nRanked Sales Data:")
print(df1.head())

Ranked Sales Data:
        date  gender      region  sales  Percentage of Total Sales   Rank
0  8/22/2022    Male  North-West  20381                   0.414839   11.0
1   3/5/2022    Male  North-East  14495                   0.240263  154.0
2   2/9/2022    Male  North-East  13510                   0.223936  168.0
3  6/22/2022    Male  North-East  15983                   0.264928  138.0
4  8/10/2022  Female  North-West  15007                   0.305456   89.5